body {
    font-family: sans-serif;
}

.header {
    padding-top: 30px;
    margin-bottom: 30px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-logo {
    color:  #000000;
    font-size: 80px;
    margin-bottom: 45px;
}

.text-blue {
    color:  #4bcaff;
}

.menu-top {
    background-color: #000;
    text-align: center;
}

.menu-top-item {
    display: inline-block;
}

.menu-top-link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 26px 41px;}


.headerlogo {
    color:  #000000;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 45px;
    display: inline-block;
}

.top-menu {
    background-color: #35444f;
    text-align: center;
}

.top-menu-item {
    display: inline-block;

}

.top-menu-link {
    color:  #ffffff;
    font-size: 24px;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 41px;
    padding-right: 41px;
    display: inline-block;
}

.top-menu-link:hover{
    background-color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu-left {
    float: left;
    width: 344px;
    height: 399px;
    border: 1px solid #000;}




.right-column {
    width: 885px;
    float: right;
    color:  #2c2b2b;
    font-size: 18px;
    
}

.left-menu-link {
    color:  #495863;
    font-size: 26.99px;
    display: inline-block;
    text-decoration: none;
    padding-left: 44px;
    padding-top: 42px;
    width: 285px;
}

.left-menu-link:hover {
    padding-left: 60px;
    background-color: darkgray;
    
}

.content-text {
    line-height: 24px;
    color:  #2c2b2b;
    font-size: 18px;
    margin-bottom: 30px;
    
}

.main-img {
    border: 1px solid #000;
    padding: 75px;
    text-align: center;
    margin-bottom: 50px;
}     

.text2 {
    padding-top: 30px;
}

.low-menu {
    background-color: #C1BFBF;
    text-align: center;
}
.footer {
    clear: both;
}
.low-menu-item {
    display: inline-block;
}

.low-menu-link {
    color:  #0c1927;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 44px;
    
}
.low-menu-link:hover{
    text-decoration: underline;
    color: #00BFFF;
}

